@import 'variables-mixin';
#portfolio{
    background: $bgportfolio;
    padding-top: 118px;
    padding-bottom: 109px;
    color: $color__portfolio;
    .title{
        @include title($margin-p);
        margin-bottom: 42px;
    }
}
.port__btn{
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
    .p__btn{
        background-color: rgba(0, 0, 0, 0.07);
        margin: 0 5px;
        font-size: 18px;
        line-height: 19px;
        font-weight: 400;
        border-radius: 7px;
        text-align: center;
        height: 38px;
        padding-top: 9px;
        letter-spacing: 0.8px;
        &:hover{
            background: $white;
        }
    }
    .small{
        min-width: 84px;
    }
    .large{
        min-width: 90px;
    }
}
.portfolio__row{
    padding: 0 7px 0 9px;
    margin-bottom: 15px;
    .portfolio__col{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px 0px 9px 0;
        margin: -3px 0 0 0;
        p{
            font-size: 18px;
            line-height: 19px;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            margin-top: 18px;
            margin-bottom: 57px;
            letter-spacing: 0.4px;
        }
        img{
            padding: 0 0 0 0;
        }
        &:nth-child(1){
            p{
                padding: 10px 0px 0px 7px;
            }
        }
        &:nth-child(2){
            p{
                padding: 7px 8px 0 0px;
            }
            img{
                padding: 3px 2px 0 0px;
            }
        }
        &:nth-child(3){
            img{
                padding: 0px 0px 10px 4px;
            }
            p{
                padding: 0px 14px 0px 0;
            }
        } 
        &:nth-child(4){
            img{
                padding: 1px 0px 8px 0px;
            }
            p{
                padding: 1px 0 0 16px;
            }
        }
        
    }
}
.portfolio__btn{
    background: #17c2a4;
    @include bt-border(#13a58b);
    &:hover{
        background: #24af95;
        border-color: #0c947b;
    }
}