@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/dropdown';
@import '../node_modules/bootstrap/scss/forms';
@import 'variables-mixin';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100vw;
}
body{
    font-family: 'Titillium Web', sans-serif;
    color: $white;
}
.container{
    max-width: 1140px;
}
.btn{
    width: 293px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        letter-spacing: 0.31px;
        color: $white;
    }
}
@import 'header', 'service', 'team', 'skill', 'portfolio', 'about', 'contact', 'footer', 'mobile';